@font-face {
  font-family: Aktura;
  src: url(/fonts/Aktura-Regular.woff2);
  display: swap;
}

@import "tailwindcss";

@theme {
  --font-secondary: "Aktura";
}

@layer base {
  body {
    @apply w-screen h-screen bg-neutral-50;
  }
  /* globals.css */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .grid__item {
    transform-origin: var(--to, 50% 50%);
    transform: scaleX(var(--si, 1)) scaleY(var(--sy, 1));
    will-change: transform, clip-path;
  }
}
